<nav id="sidebar" class="sidebar">

    <div class="sidebar-header">
        {% if firma_logo_yolu %}
        <img class="sidebar-logo" src="{{ firma_logo_yolu }}" alt="{{ firma_adi }} logosu">
        {% endif %}

        <h4>{{ firma_adi }}</h4>

        <small>
            {{ uygulama_surumu }}
        </small>

    </div>


    <ul class="sidebar-menu">
        <li>
            <a href="/">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/mesajlar">
                <i class="bi bi-chat-dots"></i>
                <span>Mesajlar</span>
            </a>
        </li>

        {% if kullanici_rol != "Patron" %}<li>
            <a href="/siparisler">
                <i class="bi bi-receipt"></i>
                <span>Siparişler</span>
            </a>
        </li>{% endif %}

        {% if kullanici_rol not in ["Operatör", "Patron"] %}
        <li>

            <a class="menu-toggle"
               data-bs-toggle="collapse"
               href="#stokMenu">

                <i class="bi bi-box-seam"></i>

                <span>Stok</span>

                <i class="bi bi-chevron-down ms-auto"></i>

            </a>


            <div class="collapse"
                 id="stokMenu">


                <a href="/urunler"
                   class="submenu">

                    <i class="bi bi-box"></i>

                    Ürünler

                </a>


                <a href="/receteler"
                   class="submenu">

                    <i class="bi bi-diagram-3"></i>

                    Reçeteler

                </a>

                {% if kullanici_rol in ["Admin", "Yönetici"] %}<a href="/uretim-tanimlari"
                   class="submenu">

                    <i class="bi bi-diagram-3"></i>

                    Üretim Tanımları

                </a>{% endif %}


            </div>

        </li>

        {% endif %}

        {% if kullanici_rol not in ["Operatör", "Patron"] %}
        <li>
            <a href="/personeller">
                <i class="bi bi-person-badge"></i>
                <span>Personeller</span>
            </a>
        </li>
        {% endif %}


        {% if kullanici_rol not in ["Operatör", "Patron"] %}
        <li>
            <a href="/musteriler">
                <i class="bi bi-people"></i>
                <span>Müşteriler</span>
            </a>
        </li>

        {% endif %}



        {% if kullanici_ekleyebilir %}


        <li>

            <a href="/kullanicilar">

                <i class="bi bi-person-gear"></i>

                <span>Kullanıcılar</span>

            </a>

        </li>


        {% endif %}



        {% if kullanici_rol not in ["Operatör", "Patron"] %}


        <li>

            <a href="/ayarlar">

                <i class="bi bi-gear"></i>

                <span>Ayarlar</span>

            </a>

        </li>


        {% endif %}



    </ul>


</nav>
