{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Müşteriler</h2>

        <button class="btn btn-primary">
            + Yeni Müşteri
        </button>

    </div>


    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Kodu</th>
                <th>Adı</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Adres</th>
            </tr>
        </thead>


        <tbody>

        {% for musteri in musteriler %}

            <tr>

                <td>{{ musteri.kodu }}</td>

                <td>{{ musteri.adi }}</td>

                <td>{{ musteri.telefon }}</td>

                <td>{{ musteri.email }}</td>

                <td>{{ musteri.adres }}</td>

            </tr>

        {% else %}

            <tr>
                <td colspan="5">
                    Henüz müşteri yok.
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>


</div>


{% endblock %}